*{
    padding: 0px;
    margin: 0px;

    box-sizing: border-box;
}
body html{
    height: 100%;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    /* line-height: 1.8em;
    font-weight: 400; */
    color:#969696;
}
.navbar{
    /* margin-top: 2%; */
    width: 100%;
    height: 60px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
   background-color: white;
 }
 .links{
     display: flex;
     gap: 2rem;
     margin-left: 30%;
     flex-wrap: wrap;
     
 }
 .logo img{
    width: 150px;
    margin-left: 30%;
     
 }
 .links li{
     list-style: none;
     display: inline-block;
     
 }
 .links a{
     text-decoration: none;
     color: black;
     font-weight: bold;
     margin-left: 50%;
    
 }
 
 #cart{
     margin-right: 10%;
 }
 #search{
     margin-left: 5%;
 } 
 .navbar i{
     cursor: pointer;
     color: black;
 }
 
.section{
    text-align: center;
    padding: 50px 80px;
}
.section-light{
    background-color: white;
    color: #969696;
}
.section-dark{
    background-color:whitesmoke;
    color: #c14679;
}
.content{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color:black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.content .border{
   
    color:#c14679;
    
    font-size: 50px;
    
}


.bg1, .bg2, .bg3{
    position: relative;
    /* opacity: 0.70; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;
}
.bg1{
    background-image: url('./images/home\ \(2\).jpg');
    width: 100%;
    height: 100vh;
}
.content{
    margin-top: -10%;
    margin-left: 5%;
   
  text-align: left;
}
.title-h1{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 50px;
    color:#c14679;
}
.title-h2{
    font-size: 20px;
    color: black;
    
}
.title-span{
    color:black;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;

}

.bg2{
    background-image: url('./images/cake.webp');
    width: 100%;
    height: 80vh;
}
.bg3{
    background-image: url('./images/bg3.jpg');
    width: 100%;
    height: 60vh;

}


/* menu */
/* ... Previous styles ... */

/* ... Previous styles ... */

.gallery-h1{
    margin-top: 3%;
    text-align: center;
    color: #c14679;
    font-size: 30px;
    font-weight: bold;
  }
.flip-card {
    margin-left: 2%;
    margin-top: 2%;
    background-color: transparent;
    width: 350px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; 
  }
  .border{
    margin-top: 10;
  }
 
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
 
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
 
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
 
  .flip-card-back {
    background-color: rgb(235, 238, 241);
    color: white;

    transform: rotateY(180deg);
  }
  .main-flip{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
  }
 .back{
   padding-top: 20%;
    color: #000;
    font-weight: lighter;
 }
 .flip-card-back p{
    color: #c14679;

 }

 .flip-card-back i{
    color:white;
    font-size: large;
    background-color: #8a2951;
    padding: 15px 15px;
    border-radius: 100px;
    cursor: pointer;

 }
 .flip-card-back i:hover{
    background-color: #000;
 }


/* new products */
.pro h2{
    font-size: 30px;
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

  }
  
  .container .box {
    position: relative;
    width: 25rem;
    height: 25rem;
    margin: 5rem;
  }
  
  .container .box:hover .imgBox {
    transform: translate(-3.5rem, -3.5rem);
  }
  
  .container .box:hover .content1 {
    transform: translate(3.5rem, 3.5rem);
  }
  
  .imgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: all 0.5s ease-in-out;
  }
  
  .imgBox img {
    width: 25rem;
    height: 25rem;
    object-fit: cover;
    resize: both;
  }
  
  .content1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    background-color: #fff;
    z-index: 1;
    align-items: flex-end;
    text-align: center;
    transition: 0.5s ease-in-out;
  }
  
  .content1 h2 {
    display: inline;
    font-size: 1.5rem;
    color:#c14679;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 1px;
    margin-bottom: 7%;
  }
  
  .content1 span {
    color: #555;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 2px;
  }
  .content1 i{
    left: 5%;
  }

/*  */



.external {
    overflow: hidden;
    height: 100vh;
    margin-top:-40px;
  }
  

/* hide scrollbar */
::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }
  
  ::-webkit-scrollbar-button {
    width: 1px;
    height: 1px;
  }


  .horizontal-scroll-wrapper {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vh;
    transform: rotate(-90deg) translate3d(0,-100vh,0);
    transform-origin: right top;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    height: 100vw;
    perspective: 1px;
      transform-style: preserve-3d;
    padding-bottom: 10rem;
  }

  .img-wrapper {
    transform: rotate(90deg);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
    transform-origin: 50% 50%;
    transform: rotate(90deg) translateZ(.1px) scale(0.9) translateX(0px) translateY(-3vh);
    transition: 1s;
  }
  
  .img-wrapper:hover {
   min-height: 65vh;
  }
  
  .slower {
    transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(0%) translateY(-10vh);
  }
  .slower1 {
    transform: rotate(90deg) translateZ(-.25px) scale(1.05) translateX(0%) translateY(8vh);
  }
  .slower2 {
    transform: rotate(90deg) translateZ(-.3px) scale(1.3) translateX(0%) translateY(2vh);
  }
  .slower-down {
    transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(0%) translateY(16vh) ;
  }
  .faster {
    transform: rotate(90deg) translateZ(.15px) scale(0.8) translateX(0%) translateY(14vh) ;
  }
  .faster1 {
    transform: rotate(90deg) translateZ(.05px) scale(0.8) translateX(0%) translateY(10vh) ;
  }
  .fastest {
    transform: rotate(90deg) translateZ(.22px) scale(0.7) translateX(-10vh) translateY(-15vh) ;
  }
  .vertical {
     transform: rotate(90deg) translateZ(-.15px) scale(1.15) translateX(0%) translateY(0%) ;
  }
  .last {
    transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(25vh) translateY(-8vh) ;
  }
 
  .img-wrapper a {
    overflow: hidden;
    display: block;
    padding: 1vh ;
    background: #efecdb;
    box-shadow: 0 10px 50px #5f2f1182;
  }
  .horizontal-scroll-wrapper img {
    max-width: 45vh;
    max-height: 50vh;
    transition: .5s;
    vertical-align: top;
    filter: saturate(40%) sepia(30%) hue-rotate(5deg);
  }
  a:hover img {
    filter: none;
  }

  
.footer{
    background:#8a2951;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }
    
      
      .content h2 {
        display: block;
        font-size: 2rem;
        color: #111;
        font-weight: 500;
        line-height: 2rem;
        letter-spacing: 1px;
      }
      
      .content span {
        color: #555;
        font-size: 1.4rem;
        font-weight: 300;
        letter-spacing: 2px;
      }
      
      @media (max-width: 600px) {
        .container .box:hover .content {
          transform: translate(0, 3.5rem);
        }
        .container .box:hover .imgBox {
          transform: translate(0, -3.5rem);
        }
      }





@media(max-width:568px){
    .bg1, .bg2, .bg3{
        background-attachment: scroll;
    }
}